In [2]:
import pandas as pd
import numpy as np
import os

In [4]:
df_prods=pd.read_csv(r"C:\Users\sojan\Documents\Instacast_Basket_Analysis\02. Data\01. Original Data\products.csv")

In [6]:
df_ords=pd.read_csv(r"C:\Users\sojan\Documents\Instacast_Basket_Analysis\02. Data\02. Prepared Data\orders_wrangled.csv",low_memory=False)

In [29]:
df_ords.describe()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

## Mixed DataType

In [75]:
# Create a data frame
df_test=pd.DataFrame()

In [77]:
# Create a mixed type column
df_test['mix']=['a','b',1,True]

In [36]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [91]:
# check for mixed type
for col in df_test.columns.tolist():
  weird = (df_test[[col]].map(type) != df_test[[col]].iloc[0].apply(type))
  if len (df_test[weird]) > 0:
    print (col)

mix

In [93]:
df_test['mix'] = df_test['mix'].astype('str')

In [95]:
df_test.dtypes

mix    object
dtype: object

In [97]:
df_test['mix'].dtypes

dtype('O')

In [103]:
df_test['mix'] = pd.to_numeric(df_test['mix'], errors='coerce')

In [105]:
df_test['mix'].dtypes

dtype('float64')

## Missing Values

In [73]:
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [79]:
df_nan=df_prods[df_prods['product_name'].isnull()==True]

In [81]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

### Addressing missing value

In [88]:
df_prods.describe()

         product_id      aisle_id  department_id        prices
count  49693.000000  49693.000000   49693.000000  49693.000000
mean   24844.345139     67.770249      11.728433      9.994136
std    14343.717401     38.316774       5.850282    453.519686
min        1.000000      1.000000       1.000000      1.000000
25%    12423.000000     35.000000       7.000000      4.100000
50%    24845.000000     69.000000      13.000000      7.100000
75%    37265.000000    100.000000      17.000000     11.200000
max    49688.000000    134.000000      21.000000  99999.000000

In [133]:
df_prods

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...
49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49690,49686,Artisan Baguette,112,3,7.8
49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49692,49688,Fresh Foaming Cleanser,73,11,13.5

In [157]:
df_nan.fillna({'product_name': df_nan['product_name'].mode()})

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [159]:
df_nan.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [161]:
df_prods['product_name'].mode()

0                              Adore Forever Body Wash
1                 Black House Coffee Roasty Stout Beer
2                    Fiber 4g Gummy Dietary Supplement
3    Gluten Free Organic Peanut Butter & Chocolate ...
4                                           Ranger IPA
Name: product_name, dtype: object

In [173]:
df_prods.shape

(49693, 5)

In [22]:
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [171]:
df_prods_clean

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...
49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49690,49686,Artisan Baguette,112,3,7.8
49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49692,49688,Fresh Foaming Cleanser,73,11,13.5

In [177]:
df_prods_clean.shape

(49677, 5)

In [179]:
df_prods_clean.isnull().sum()

product_id       0
product_name     0
aisle_id         0
department_id    0
prices           0
dtype: int64

In [181]:
df_prods.dropna(inplace = True)

In [185]:
df_prods.dropna(subset = ['product_name'], inplace = True)

In [187]:
df_prods.shape

(49677, 5)

## Duplicates

In [24]:
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [26]:
df_prods_clean

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...
49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49690,49686,Artisan Baguette,112,3,7.8
49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49692,49688,Fresh Foaming Cleanser,73,11,13.5

In [28]:
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [30]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [34]:
df_prods_clean.shape

(49677, 5)

In [36]:
df_prods_clean_no_dups=df_prods_clean.drop_duplicates()

In [38]:
df_prods_clean_no_dups.shape

(49672, 5)

In [40]:
df_prods_clean_no_dups.to_csv(r'C:\Users\sojan\Documents\Instacast_Basket_Analysis\02. Data\02. Prepared Data\Product_checked.csv')

# Directions 1

In [6]:
 df_prods.describe()

         product_id      aisle_id  department_id        prices
count  49693.000000  49693.000000   49693.000000  49693.000000
mean   24844.345139     67.770249      11.728433      9.994136
std    14343.717401     38.316774       5.850282    453.519686
min        1.000000      1.000000       1.000000      1.000000
25%    12423.000000     35.000000       7.000000      4.100000
50%    24845.000000     69.000000      13.000000      7.100000
75%    37265.000000    100.000000      17.000000     11.200000
max    49688.000000    134.000000      21.000000  99999.000000

#### On the above, Max seems to be an outliner in the product dataset because the max value is too much higher, which is inconsistent with other indicators of value.

# Directions 2

In [44]:
df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

### The min is shown in the data frame as above in different columns as minimum values.
### The Max is shown in the data frame as above in different columns as maximum values.

## Directions 3

In [51]:
df_ords.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,prior,1,2,8,NaN
1,1,2398795,1,prior,2,3,7,15.0
2,2,473747,1,prior,3,3,12,21.0
3,3,2254736,1,prior,4,4,7,29.0
4,4,431534,1,prior,5,4,15,28.0

In [161]:
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].map(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

In [163]:
for col in df_ords.columns:
    # Check if all values in the column have the same type as the first element
    weird = df_ords[col].apply(type) != type(df_ords[col].iloc[0])
    
    if weird.any():
        print(col)

Unnamed: 0
order_id
user_id
order_number
orders_day_of_week
order_hour_of_day
days_since_prior_order

# Directions 4

In [217]:
df_ords['order_number'] = pd.to_numeric(df_ords['order_number'], errors='coerce')  # Convert to int
df_ords['orders_day_of_week'] = pd.to_numeric(df_ords['orders_day_of_week'], errors='coerce')  # Convert to int
df_ords['order_hour_of_day'] = pd.to_numeric(df_ords['order_hour_of_day'], errors='coerce')  # Convert to int
df_ords['days_since_prior_order'] = pd.to_numeric(df_ords['days_since_prior_order'], errors='coerce')  # Convert to float


print(df_ords)

        Unnamed: 0 order_id user_id eval_set  order_number  \
0                0  2539329       1    prior             1
1                1  2398795       1    prior             2
2                2   473747       1    prior             3
3                3  2254736       1    prior             4
4                4   431534       1    prior             5
...            ...      ...     ...      ...           ...
3421078    3421078  2266710  206209    prior            10
3421079    3421079  1854736  206209    prior            11
3421080    3421080   626363  206209    prior            12
3421081    3421081  2977660  206209    prior            13
3421082    3421082   272231  206209    train            14

         orders_day_of_week  order_hour_of_day  days_since_prior_order
0                         2                  8               11.114836
1                         3                  7               15.000000
2                         3                 12               21.000000
3                         4                  7               29.000000
4                         4                 15               28.000000
...                     ...                ...                     ...
3421078                   5                 18               29.000000
3421079                   4                 10               30.000000
3421080                   1                 12               18.000000
3421081                   1                 12                7.000000
3421082                   6                 14               30.000000

[3421083 rows x 8 columns]

In [147]:
df_ords['eval_set'] = df_ords['eval_set'].astype(str)

In [149]:
df_ords['eval_set'].dtypes

dtype('O')

In [205]:
df_ords['Unnamed: 0'] = df_ords['Unnamed: 0'].astype(str)

In [207]:
df_ords['Unnamed: 0'].dtypes

dtype('O')

In [209]:
df_ords['order_id'] = df_ords['order_id'].astype(str)

In [211]:
df_ords['order_id'].dtypes

dtype('O')

In [213]:
df_ords['user_id'] = df_ords['user_id'].astype(str)

In [215]:
df_ords['user_id'].dtypes

dtype('O')

In [137]:
df_ords['order_number'].dtypes

dtype('int64')

In [139]:
df_ords['orders_day_of_week'].dtypes

dtype('int64')

In [151]:
df_ords['order_hour_of_day'].dtypes

dtype('int64')

In [153]:
df_ords['days_since_prior_order'].dtypes

dtype('float64')

# Directions 5

In [157]:
df_ords.isnull().sum()

Unnamed: 0                     0
order_id                       0
user_id                        0
eval_set                       0
order_number                   0
orders_day_of_week             0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

### Run the code as above, there are no missing values but the day_since_prior_order column has 206009 missing values.

# Directions 6

In [167]:
df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [179]:
mean_value = df_ords['days_since_prior_order'].mean()

In [183]:
mean_value

11.114836226863012

In [191]:
df_ords['days_since_prior_order'] = df_ords['days_since_prior_order'].fillna(mean_value)

In [193]:
df_ords.isnull().sum()

Unnamed: 0                0
order_id                  0
user_id                   0
eval_set                  0
order_number              0
orders_day_of_week        0
order_hour_of_day         0
days_since_prior_order    0
dtype: int64

In [46]:
df_ords.shape

(3421083, 8)

### The choice was mean because the column values are numeric and values are not proportionately high.

# Directions 7

In [224]:
df_ords_dups = df_ords [df_ords.duplicated()]

In [226]:
df_ords_dups

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, eval_set, order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order]
Index: []

### There are no duplicate values.

# Directions 8

### There are no duplicate values found.

# Directions 9

In [229]:
df_ords.to_csv(r'C:\Users\sojan\Documents\Instacast_Basket_Analysis\02. Data\02. Prepared Data\df_ords.csv')

In [232]:
df_prods.to_csv(r'C:\Users\sojan\Documents\Instacast_Basket_Analysis\02. Data\02. Prepared Data\df_prods.csv')