In [27]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [7]:
df_ords_prods_prior=pd.read_csv(r"C:\Users\sojan\Documents\Instacast_Basket_Analysis\02. Data\4.6_orders_products_prior\orders_products_prior.csv")

In [9]:
df_ords_prods_prior

          order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
...            ...         ...                ...        ...
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns]

In [11]:
df_ords_prods_prior.shape

(32434489, 4)

In [19]:
df_ords_prods_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [21]:
df_ords_prods_dups = df_ords_prods_prior [df_ords_prods_prior.duplicated()]

In [23]:
df_ords_prods_dups

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

In [29]:
df_ords=pd.read_csv(r"C:\Users\sojan\Documents\Instacast_Basket_Analysis\02. Data\01. Original Data\orders.csv")

In [31]:
df_ords.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [33]:
df_ords.shape

(3421083, 7)

In [35]:
df_merged_large = df_ords.merge(df_ords_prods_prior, on = 'order_id', indicator = True)

In [36]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [37]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [40]:
df_merged_large = df_ords.merge(df_ords_prods_prior, on = 'order_id', how='outer',indicator=True)

In [41]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,1,112108,train,4,4,10,9.0,NaN,NaN,NaN,left_only
1,2,202279,prior,3,5,9,8.0,33120.0,1.0,1.0,both
2,2,202279,prior,3,5,9,8.0,28985.0,2.0,1.0,both
3,2,202279,prior,3,5,9,8.0,9327.0,3.0,0.0,both
4,2,202279,prior,3,5,9,8.0,45918.0,4.0,1.0,both

In [42]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only       206209
right_only           0
Name: count, dtype: int64

# Directions 1

#### merged two data frames as required above.

# Directions 2

In [49]:
df_merged_large.to_pickle(r'C:\Users\sojan\Documents\Instacast_Basket_Analysis\02. Data\02. Prepared Data\orders_products_combined.pkl')

In [50]:
df_merged_large.shape

(32640698, 11)

# Directions 3

#### imported as new data frame named "4.6 New Notebook".

# Directions 4

#### Checked.

# Directions 5

In [55]:
df_prods_checked=pd.read_csv(r'C:\Users\sojan\Documents\Instacast_Basket_Analysis\02. Data\02. Prepared Data\Product_checked.csv')

In [57]:
df_prods_checked

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...,...
49667,49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49668,49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49669,49690,49686,Artisan Baguette,112,3,7.8
49670,49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49671,49692,49688,Fresh Foaming Cleanser,73,11,13.5

In [59]:
df_prods_checked.shape

(49672, 6)

In [61]:
df_orders_products_combined=df_prods_checked.merge(df_merged_large , on = 'product_id',how ='inner')

In [62]:
df_orders_products_combined.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1107,38259,prior,2,1,11,7.0,7.0,0.0,both
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,5319,196224,prior,65,1,14,1.0,3.0,1.0,both
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,7540,138499,prior,8,0,14,7.0,4.0,1.0,both
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,9228,79603,prior,2,2,10,30.0,2.0,0.0,both
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,9273,50005,prior,1,1,15,NaN,30.0,0.0,both

In [63]:
df_orders_products_combined.shape

(32404859, 16)

In [64]:
df_ords_prods_dulpi = df_orders_products_combined [df_orders_products_combined.duplicated()]

In [68]:
df_ords_prods_dulpi

Empty DataFrame
Columns: [Unnamed: 0, product_id, product_name, aisle_id, department_id, prices, order_id, user_id, eval_set, order_number, order_dow, order_hour_of_day, days_since_prior_order, add_to_cart_order, reordered, _merge]
Index: []

In [71]:
df_orders_products_combined.isnull().sum()

Unnamed: 0                      0
product_id                      0
product_name                    0
aisle_id                        0
department_id                   0
prices                          0
order_id                        0
user_id                         0
eval_set                        0
order_number                    0
order_dow                       0
order_hour_of_day               0
days_since_prior_order    2076096
add_to_cart_order               0
reordered                       0
_merge                          0
dtype: int64

In [73]:
mean_value = df_orders_products_combined['days_since_prior_order'].mean()

In [75]:
mean_value

11.10407978063596

In [77]:
df_orders_products_combined['days_since_prior_order'] = df_orders_products_combined['days_since_prior_order'].fillna(mean_value)

In [79]:
df_orders_products_combined.isnull().sum()

Unnamed: 0                0
product_id                0
product_name              0
aisle_id                  0
department_id             0
prices                    0
order_id                  0
user_id                   0
eval_set                  0
order_number              0
order_dow                 0
order_hour_of_day         0
days_since_prior_order    0
add_to_cart_order         0
reordered                 0
_merge                    0
dtype: int64

In [81]:
df_orders_products_combined.shape

(32404859, 16)

# Directions 6

In [87]:
df_orders_products_combined['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

# Directions 7

In [92]:
df_orders_products_combined.to_pickle(r'C:\Users\sojan\Documents\Instacast_Basket_Analysis\02. Data\02. Prepared Data\ords_prods_merge.pkl')